<!DOCTYPE html>
<html>
<head>
    <title>Song Recommendations</title>
</head>
<body>

    <h1>Song Recommendations</h1>
    <p>Choose a song from the list of the top 2000 found in Spotify's data.<br><br>
        
    The application will then find recommendations based on similar words in the title, artist name and genre.</p>

    <form action="/result" method="post">

    <label for="songs">Song choices:</label>
    <select id="songs" name="songs">

        {% for song in song_data %}
            <option value="{{song.Index}}"> {{ song.Title }} by {{song.Artist }} (Genre: {{song['Top Genre']}})</option>
        {% endfor %}

    </select>

    <input type="submit" value="Recommend songs">


</body>
</html>